body {
    color: #333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}
.pic{
    width: 100%;
    height: 100%;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16px 0;
    background-color: aqua;
    text-decoration: wavy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    background-color: red;
    color: yellowgreen;
    font-style: italic;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    color: blue;
    font-style: oblique;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    color: black;
}

.portrait {
    width: 250px;
}